@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-12">
       <div class="mb-3 mt-3">
           <div class="mb-3">Upload File</div>

           <div class="mb-3 form-group">
               <div class="custom-file">
                   <input type="file" class="custom-file-input" id="file_input" onchange="setName();" multiple/>
                   <label for="file_input" class="custom-file-label" id="file_input_label">Select File</label>
               </div>
           </div>

           <button type="button" class="btn btn-primary" onclick="UploadMulti()" id="btn_upload">Upload</button>
           <button type="button" class="btn btn-primary d-none" id="btn_uploading" disabled>
               <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
               Uploading..
           </button>
           <button type="button" class="btn btn-secondary d-none" id="btn_cancel">Cancel</button>

           <div id="result_grid"></div>
           
       </div>
    </div>
</div>


<script>
    function setName() {
        var file_input = document.getElementById("file_input");
        var file_input_label = document.getElementById("file_input_label");

        file_input_label.innerHTML = "";
        for (var i = 0; i < file_input.files.length; i++) {
            file_input_label.innerHTML += file_input.files[i].name + ", ";
        }
        

    }


    var httpReqs = new Array();
    var result_grid = document.getElementById("result_grid");


    function UploadMulti() {


        var btn_upload = document.getElementById("btn_upload");
        var file_input = document.getElementById("file_input");
        var btn_uploading = document.getElementById("btn_uploading");
        var btn_cancel = document.getElementById("btn_cancel");
        httpReqs = new Array();
        result_grid.innerHTML = "";

        for (var fc = 0; fc < file_input.files.length; fc++) {
            var file = file_input.files[fc];

            var progress_wrapper = document.createElement("DIV");
            progress_wrapper.setAttribute("id", `progress_wrapper_${fc}`);
            result_grid.appendChild(progress_wrapper);

            var progress_status = document.createElement("label");
            progress_status.setAttribute("id", `progress_status_${fc}`);
            progress_wrapper.appendChild(progress_status);

            var progress_bar_wrapper = document.createElement("DIV");
            progress_bar_wrapper.className = "progress mb-3";
            progress_wrapper.appendChild(progress_bar_wrapper);

            var progress = document.createElement("DIV");
            progress.className = "progress-bar";
            progress.setAttribute("id", `progress_${fc}`);
            progress_bar_wrapper.appendChild(progress);

            var alert_wrapper = document.createElement("DIV");
            alert_wrapper.setAttribute("id", `alert_wrapper_${fc}`);
            alert_wrapper.classList.add("d-none");
            result_grid.appendChild(alert_wrapper);

            file_input.disabled = true;

            btn_upload.classList.add("d-none");
            btn_uploading.classList.remove("d-none");
            btn_cancel.classList.remove("d-none");

            progress_wrapper.classList.remove("d-none");

            var request = new XMLHttpRequest();
            httpReqs.push(request);
            httpReqs[fc].responseType = "json";

            var data = new FormData();

            var fileName = file.name;
            var filesize = file.size;


            data.append("file", file);

            httpReqs[fc].upload.id = fc;
            httpReqs[fc].upload.addEventListener("progress", function (e) {
                //console.log("progress",e.srcElement.id);
                var indx = e.srcElement.id;
                var percentageCompleted = Math.floor((e.position / e.totalSize) * 100);

                var progressInstance = document.getElementById(`progress_${indx}`);
                var progressStatusInstance = document.getElementById(`progress_status_${indx}`);
                progressInstance.style = `width:${percentageCompleted}%`;
                progressStatusInstance.innerHTML = `${httpReqs[indx].filename} - ${percentageCompleted}%`;

            });

            httpReqs[fc].addEventListener("load", function (e) {
                console.log("load", e.srcElement.id, httpReqs[e.srcElement.id].status);
                var indx = e.srcElement.id;
                if (httpReqs[indx].status == 200) {
                    showAlertMulti(indx,"File uploaded", "success");
                } else {
                    showAlertMulti(indx,e.message, "error");
                }
                resetMulti(indx);

            });

            httpReqs[fc].addEventListener("error", function (e) {
                //console.log("error", e.srcElement.id, httpReqs[e.srcElement.id].status);
                var indx = e.srcElement.id;
                showAlertMulti(indx,e.message, "error");
                resetMulti();
            });

            httpReqs[fc].addEventListener("abort", function (e) {
                //console.log("aborted", e.srcElement.id, httpReqs[e.srcElement.id].status);
                var indx = e.srcElement.id;
                showAlertMulti(indx,"User cancelled the upload", "warning");
                resetMulti();
            });

            btn_cancel.addEventListener("click", function () {
                for (var ac = 0; ac < httpReqs.length; ac++) {
                    httpReqs[ac].abort();
                }
            });

            httpReqs[fc].filename = fileName;
            httpReqs[fc].id = fc;
            httpReqs[fc].open("post", "/home/Upload");
            httpReqs[fc].send(data);
        }
    }

    function resetMulti() {
        var btn_upload = document.getElementById("btn_upload");
        var file_input = document.getElementById("file_input");
        var btn_uploading = document.getElementById("btn_uploading");
        var btn_cancel = document.getElementById("btn_cancel");
        var file_input_label = document.getElementById("file_input_label");

        file_input.value = null;
        file_input.disabled = false;

        btn_upload.classList.remove("d-none");
        btn_uploading.classList.add("d-none");
        btn_cancel.classList.add("d-none");
        file_input_label.innerHTML = "Select File";
        
    }

    function showAlertMulti(indx,message, type) {
        var alert_wrapper = document.getElementById(`alert_wrapper_${indx}`);
        var progress_wrapper = document.getElementById(`progress_wrapper_${indx}`);

        alert_wrapper.classList.remove("d-none");

        progress_wrapper.innerHTML = "";
        alert_wrapper.innerHTML = `<div class="alert alert-${type} alert-dismissible fade show" role="alert">
               <strong>${httpReqs[indx].filename}</strong> - ${message}
               <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                   <span aria-hidden="true">&times;</span>
               </button>
           </div>`;
    }



    
</script>